<form name="form" class="css-form" novalidate>
    <div class="form-horizontal">
        <h2>{{Titulo}}</h2>
        <hr />
        
        <div class="form-group">
            <h2>Arquivo gerado com sucesso!</h2>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-offset-1 col-md-1">
            <button ng-click="Voltar()" ng-disabled="!form.$valid" class="btn btn-lg btn-default">Voltar</button>
        </div>
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</form>